<div style="margin-top: 24px">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Nickname</th>
                <th scope="col">Email Address</th>
                <th scope="col">Date of Birth</th>
                <th scope="col" colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index" (click)="onSelect(i)" style="cursor: pointer">
                <td>{{user.name}}</td>
                <td>{{user.nick}}</td>
                <td>{{user.email}}</td>
                <td>{{user.dateOfBirth | date: 'dd.MM.yyyy.'}}</td>
                <td>
                    <button (click)="onClickEdit()" class="btn btn-sm"><i class="fa fa-edit"></i></button>
                </td>
                <td>
                    <button (click)="onClickDelete()" class="btn btn-sm"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
