<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tag</th>
                <th scope="col">Game</th>
                <th scope="col" rowspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let gametag of gametags; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{gametag.tagName}}</td>
                <td>{{gametag.gameTitle}}</td>
            </tr>
        </tbody>
    </table>
</div>
