<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Nickname</th>
                <th scope="col">Email Address</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{user.username}}</td>
                <td>{{user.nickname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.dateOfBirth | date: 'longDate'}}</td>
            </tr>
        </tbody>
    </table>
</div>