<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Nickname</th>
                <th scope="col">Email Address</th>
                <th scope="col">Date of Birth</th>
                <th scope="col" rowspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index" (click)="onSelect(i)" style="cursor: pointer">
                <th scope="row">{{i+1}}</th>
                <td>{{user.name}}</td>
                <td>{{user.nick}}</td>
                <td>{{user.email}}</td>
                <td>{{user.dateOfBirth | date: 'longDate'}}</td>
                <td>
                    <button (click)="onClickEdit()" class="btn"><i class="fa fa-edit"></i></button>
                </td>
                <td>
                    <button (click)="onClickDelete()" class="btn"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
