/* You can add global styles to this file, and also import other style files */
/* Style buttons */
/*
.btn {
    background-color: #343a40;
    border: none;
    color: white;
    padding: auto;
    margin: auto;
    font-size: 12px;
    size: 26px 26px;
    cursor: pointer;
  }

.btn.delete:hover{
    background-color: red
}
  
.btn:hover {
    background-color: lightblue;
}
*/
