<div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Release Date</th>
                <th scope="col">Base Price</th>
                <th scope="col" rowspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let game of games; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{ game.title }}</td>
                <td>
                    <div class="text-wrap text-truncate" style="width: 24em;">
                        {{game.description}}
                    </div>
                </td>
                <td>{{ game.releaseDate | date: 'longDate' }}</td>
                <td>{{game.basePrice | currency}}</td>
                <td>
                    <button class="btn"><i class="fa fa-edit"></i></button>
                </td>
                <td>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
