<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User</th>
                <th scope="col">Game</th>
                <th scope="col">Rating</th>
                <th scope="col" rowspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let review of reviews; let i = index">
                <th scope="row">{{i+1}}</th>
                <td>{{review.user}}</td>
                <td>{{review.game}}</td>
                <td>{{review.rating}}/10</td>
                <td>
                    <button class="btn"><i class="fa fa-edit"></i></button>
                </td>
                <td>
                    <button class="btn"><i class="fa fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
