<div class="pb-5 col-sm-6 mx-auto">
    <div [hidden]="errorMessage.length == 0">
        {{errorMessage}}
    </div>
    <form (submit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group">
            <label for="email">
                Email Address
            </label>
            <input placeholder="example@domain.com" required type="email" name="email" [(ngModel)]="user.email"
                class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="password">
                Password
            </label>
            <input required type="password" name="password" [(ngModel)]="user.password" class="form-control"
                id="password">
        </div>
        <button [disabled]="!loginForm.form.valid" type="submit" class="btn btn-primary">
            Submit
        </button>
    </form>
</div>
